# Binaries

# *.png

.turbo-cookie

# NOTE: This could be interesting to keep this for CI/CD workflow
pnpm-publish-summary.json

*.log


# Build artefacts + cache
.astro-image
.turbo
dist
.build
.parcel-cache

# Generated code
**/.astro-content
**/*/content/index.ts

# Local stuff
.re-integrate
.dev*
*.dev.*
.old*
.vscode/*
.vscode
design
# **/content*


############################################


# dependencies
node_modules

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# demo/src/content
# demo/content

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store
