// @use 'sass:color';

$ca-black: rgb(15, 23, 42);
$ca-white: rgb(248 250 252);
$ca-accent: hsl(22, 100%, 50%);
$ca-main-3: hsl(262, 83%, 58%);
$ca-main-4: hsl(271, 81%, 56%);
$ca-main-5: hsl(272, 72%, 47%);
$ca-bg-grad-1: linear-gradient(
  180deg,
  hsl(273, 37%, 93%),
  hsl(273, 37%, 93%) calc(6rem + 4rem),
  #fdfeff
);
$ca-bg-grad-2: linear-gradient(180deg, #6d39ff, #af43ff);
