---
import Document from '@julian_cataldo/astro-base/Document.astro';
import Body from '@julian_cataldo/astro-base/Body.astro';
import SEO from '@julian_cataldo/astro-seo/SEO.astro';
import Analytics from '@julian_cataldo/astro-analytics/Analytics.astro';
import Prefetch from '@julian_cataldo/astro-prefetch/Prefetch.astro';
import Tooltips from '@julian_cataldo/astro-tooltips/Tooltips.astro';
/* ·········································································· */
import NavigationBar from '../app/NavigationBar.astro';
import LazyLoading from '../app/LazyLoading.astro';
import Footer from '../app/Footer.astro';
/* ·········································································· */
import './Default.scss';
---

<Document class:list={['pageClass', 'astro-content-docs', 'layout-default']}>
  <Fragment slot="head">
    <SEO
      image={`https://res.cloudinary.com/dzfylx93l/image/upload/w_1200,h_630,c_limit/poster-2_xynb4h.png`}
      title={'Astro Content — Documentation & Demo — Structured content integration for Astro Web Framework'}
      description={'A text based, structured content manager, for edition and consumption — Comes as an AstroJS Integration'}
      siteName={'Astro Content — Structured content framework'}
      author="Julian Cataldo"
      copyright="ISC"
      favicon="/favicon.svg"
    />

    <Analytics id={'G-ZNVP52N2SF'} />

    {import.meta.env.PROD && <Prefetch />}

    <Tooltips />

    <LazyLoading />
  </Fragment>

  <Body slot="body">
    <NavigationBar />
    <slot />
    <Footer />
  </Body>
</Document>
