@use 'sass:color';
@use '../vars' as *;

@import './scrollbars.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  overflow-y: scroll;
}

main {
  min-height: 60vh;
}

body {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: calc(14px + 0.15vw);
  line-height: 1.5;
  color: $ca-white;
  background: linear-gradient(
    87deg,
    color.adjust($ca-main-4, $lightness: -50%) 30%,
    color.adjust($ca-black, $lightness: -7%) 100%
  );
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::before {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: '';
    background: url('../assets/topography.svg');
    filter: invert(70%);
    background-size: 80rem;
    mix-blend-mode: overlay;
    opacity: 0.6;
    -webkit-mask-image: linear-gradient(
      to left,
      black,
      rgba(0, 0, 0, 0.2),
      black
    );
  }
}

a {
  color: currentColor;
  text-decoration: none;
}

.link:not(.unstyled),
.article-body a:not(.button, .unstyled) {
  font-weight: bold;
  color: color.adjust($ca-main-4, $lightness: 37%);
  border-bottom: 1px dashed color.adjust($ca-accent, $alpha: -0.4);
  // text-decoration-thickness: 2px;

  &:hover {
    color: color.adjust($ca-accent, $lightness: 46%);
    border-bottom: 1px solid color.adjust($ca-accent, $alpha: -0.2);
  }
}

.button {
  display: inline-flex;
  align-items: center;
  padding: 1em;
  color: $ca-white;
  border: 4px solid $ca-main-5;
  border-radius: 1em;

  &:hover {
    border: 4px solid $ca-main-4;
  }

  svg {
    margin-right: 1rem;
  }
}

.demo-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 61vh;

  &:nth-child(odd) {
    direction: rtl;
  }

  & > * {
    max-width: 45rem;
    margin: 2rem;
    direction: ltr;
  }
}

hr {
  margin: 4rem 0;
  border: 1px solid color.adjust($ca-accent, $alpha: -0.5);
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black,
    transparent
  );
}

pre.astro-code {
  width: 100%;
  max-width: 90vw;
  padding: 2vw !important;
  margin: 2rem 0 !important;
  overflow-x: scroll;
  background-color: color.adjust($ca-black, $lightness: -6%) !important;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 7px color.adjust($ca-main-3, $alpha: -0.5);
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: $font-fancy;
  font-style: italic;
  color: $ca-main-6;
}

.article-body {
  :is(h1, h2, h3, h4, h5, h6) {
    margin-top: 2.5em;
    margin-bottom: 1.25em;
  }

  & > *:first-child {
    margin-top: 0em;
  }

  & > *:last-child {
    margin-bottom: 0em;
  }

  h1 {
    font-size: 2em;
  }

  :not(pre) > code {
    display: inline-block;
    padding: 0rem 0.3rem;
    background: $ca-black;
    border: 1px solid color.adjust($ca-main-5, $lightness: -20%);
    border-radius: 0.2rem;
  }

  p {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }

  ul {
    margin-top: 2em;
    margin-bottom: 2em;

    li {
      position: relative;
      margin-top: 1em;
      margin-bottom: 1em;
      list-style-type: none;

      &::before {
        position: absolute;
        top: -0.25em;
        left: -1.5em;
        font-size: 1.5em;
        color: $ca-accent;
        content: '➤';
        opacity: 0.85;
      }

      li {
        &::before {
          content: '➭';
        }
      }
    }
  }
}

.page-docs {
  .article-body {
    width: calc(42rem + 17vw);
    margin-left: 20vw;
    @media screen and (max-width: 700px) {
      width: initial;
      margin: 5vw;
    }
  }

  .navigations {
    h2 {
      padding: 0rem 2.5rem 0rem 2.5rem;
    }

    @media screen and (max-width: 700px) {
      position: relative;
      // display: block;
      flex-wrap: wrap;
      height: initial;
    }

    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    height: 0;

    .this-page {
      text-align: right;
    }
  }

  .prev-next {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 8rem 1rem 6rem 1rem;
  }
}

.section-heading {
  margin: 3em;
  text-align: center;

  .icon {
    opacity: 0.8;

    svg {
      width: 6rem;
      height: 6rem;
    }
  }

  em {
    color: $ca-accent;
  }
}

.article-body :is(h1, h2, h3) {
  em {
    color: $ca-accent;
  }
}

.install-cast {
  & > * {
    width: 45vw;
  }

  hr {
    width: 1px;
  }

  display: flex;
  justify-content: space-around;
  padding: 2vw;
  padding-bottom: 2rem;

  .asciinema-theme-asciinema {
    min-height: 28rem !important;
    font-size: 1.3vw !important;
    background-color: transparent;
    -webkit-mask-image: linear-gradient(
      to right,
      black 0rem,
      black calc(100% - 4rem),
      transparent calc(100%)
    );

    .asciinema-terminal {
      padding: 2rem;
      margin-bottom: 12rem;
      cursor: text;
      background-color: transparent;
      filter: drop-shadow(1px 1px 3px color.adjust($ca-main-4, $alpha: -0.3));
      border-color: transparent;
    }
  }
}

.module-structuring,
.module-features {
  $size: calc(18rem + 8vw);

  .role-pic {
    img {
      object-fit: contain;
      width: $size;
      height: $size;
    }

    width: $size;
    height: $size;
  }

  .title-block {
    min-width: 18rem;
    max-width: 27rem;
    padding-top: 1rem;
    padding-right: 5vw;
    padding-bottom: 5rem;
    padding-left: 2vw;
  }

  .article-body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .item {
    position: relative;
  }

  .items {
    padding: 4rem;
  }

  .list {
    display: flex;
    flex-basis: 70%;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-evenly;

    & > * {
      padding: 1rem;
    }
  }

  .desc {
    min-width: 11rem;
    max-width: calc(17rem + 10vw);
    padding: 2rem 1.5rem 0rem 1.5rem;
    margin-top: -2rem;
    background: $ca-black;
    border: 2px solid color.adjust($ca-accent, $alpha: -0.6);
    border-radius: 1rem;
    -webkit-mask-image: linear-gradient(transparent 0rem, black 3rem);
  }

  .bg-shape {
    position: absolute;
    z-index: -1;
    width: 11rem;
    height: 11rem;

    --fill: #{color.adjust($ca-black, $alpha: -0.4, $lightness: -9%)};
  }

  .illustration {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11rem;
    height: 9.6rem;

    svg {
      width: 5rem;
      height: 5rem;
    }

    img {
      -webkit-mask-image: url('../assets/shape-1.svg?raw');
      object-fit: cover;
      width: 20rem;
      height: 20rem;
    }
  }
}

.module-actions {
  hr {
    width: 75vw;
    margin-right: auto;
    margin-left: auto;
  }

  .actions {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    padding: 6rem 5rem 16rem 5rem;
    margin-bottom: -10rem;
    overflow: hidden;

    .link {
      position: relative;
      padding: 1rem;
      margin: 2rem 2rem;
      font-family: $font-fancy;
      font-size: 1.5rem;
      font-style: italic;
      font-weight: 700;
      color: $ca-white;
      border: 4px solid $ca-main-4;
      border-radius: 0.5rem;
      box-shadow: 0 0 5rem color.adjust($ca-main-3, $alpha: -0.6),
        0 0 0.7rem color.adjust($ca-main-3, $alpha: -0.1);
      transition: background 0.5s;
      perspective: 120px;

      &::before {
        position: absolute;
        width: 100%;
        height: 100%;
        content: '';
        background: $ca-main-4;
        filter: blur(1rem);
        opacity: 0.2;
        transition: opacity 0.15s;
        transform: translateY(5rem) rotateX(90deg) scaleX(1.2);
      }

      &:nth-of-type(2) {
        margin-top: -1.2rem;

        &::before {
          // margin-top: 4rem;
          filter: blur(1.2rem);
          opacity: 0.2;
          transform: translateY(8.5rem) rotateX(107deg) scaleX(1.2);
        }
      }

      &::after {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        content: '';
        background: $ca-bg-grad-2;
        opacity: 0.2;
        transition: opacity 0.15s;
      }

      &:hover {
        &::before {
          opacity: 0.5;
        }

        &::after {
          opacity: 1;
        }
      }
    }
  }
}

.module-installation {
  position: relative;

  .arrow-cli {
    position: absolute;
    top: -13vw;
    left: 8vw;
    z-index: -1;
    width: 26vw;
    opacity: 0.3;
  }

  .ide {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 6rem;

    img {
      width: 85vw;
      height: calc(85vw / (4608 / 2246));
      box-shadow: 1rem 1rem 6rem black,
        0.1rem 0.1rem 1.2rem color.adjust($ca-main-3, $alpha: -0.4);
      object-fit: contain;
    }
  }
}

.module-this-is-ac {
  position: relative;
  margin: 8vw 0 10vw 0;

  .arrow-ac {
    position: absolute;
    top: calc(-0.8vw + 0.5rem);
    left: 2vw;
    width: 94vw;
    height: 12vw;
    opacity: 0.3;
  }
}

.features-presentation {
  width: 40vw;
  margin-left: 7vw;

  svg {
    width: 100%;
  }
}

.module-similar-inspired {
  display: flex;
  justify-content: center;
  margin: calc(2rem + 3vw) calc(1.5vw + 1rem);
  text-align: center;

  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 0;
    padding-top: 1rem;
    list-style-type: none;

    li {
      max-width: 12em;
      padding: 1.1vw;
      margin: 2.5vw 2vw;
      font-size: calc(0.5rem + 0.6vw);
      border: 1px solid $ca-main-5;
      border-radius: 1rem;
    }
  }
}

.module-use-cases {
  hr {
    width: 75vw;
    margin-right: auto;
    margin-left: auto;
  }

  .use-cases {
    padding: 10vw;
  }
}

blockquote {
  padding: 0.5em 1.5em;
  margin: 2em 1em;
  background: $ca-black;
  border: 2px solid color.adjust($ca-accent, $alpha: -0.3);
  border-radius: 0.5rem;
}

table {
  padding: 1em;
  margin: 2.5em 0;
  border: 1px solid color.adjust($ca-main-4, $alpha: -0.7);
  border-radius: 0.5rem;

  td {
    padding: 0.4em;
  }

  th {
    padding: 0.3em 0.3em;
    background: color.adjust($ca-black, $alpha: -0.4);
    border: 1px solid color.adjust($ca-main-4, $alpha: -0.7);
  }
}
