---
import Document from '@julian_cataldo/astro-base/Document.astro';
import Body from '@julian_cataldo/astro-base/Body.astro';
import SEO from '@julian_cataldo/astro-seo/SEO.astro';
import Tooltips from '@julian_cataldo/astro-tooltips/Tooltips.astro';
import NavigationBar from '../components/NavigationBar.astro';
/* ·········································································· */
import './Default.scss';
---

<Document>
  <Fragment slot="head">
    <SEO
      image={'/some_image_url-preferably_absolute.jpg'}
      title={'Astro Content — Documentation & Demo — Structured content integration for Astro Web Framework'}
      description={'A text based, structured content manager, for edition and consumption — Comes as an AstroJS Integration'}
      siteName={'Astro Content — Structured content framework'}
    />
    <Tooltips />
  </Fragment>

  <Body slot="body">
    <slot />
  </Body>
</Document>
