@use 'sass:color';
@use '../vars' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: calc(14px + 0.15vw);
  line-height: 1.5;
  color: $ca-white;
  background: linear-gradient(
    87deg,
    color.adjust($ca-main-4, $lightness: -49%) 30%,
    color.adjust($ca-black, $lightness: -12%) 100%
  );
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

.link,
.article-body a:not(.button) {
  font-weight: bold;
  color: $ca-white;
  border-bottom: 1px solid color.adjust($ca-accent, $alpha: -0.6);

  &:hover {
    border-bottom: 1px solid color.adjust($ca-accent, $alpha: -0.1);
  }
}

.button {
  display: inline-flex;
  align-items: center;
  padding: 1em;
  color: $ca-white;
  border: 4px solid $ca-main-5;
  border-radius: 1em;

  &:hover {
    border: 4px solid $ca-main-4;
  }

  svg {
    margin-right: 1rem;
  }
}

.demo-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 61vh;

  &:nth-child(odd) {
    direction: rtl;
  }

  & > * {
    max-width: 45rem;
    margin: 2rem;
    direction: ltr;
  }
}

// .article-body {
// }

hr {
  margin: 1em 0;
  border: 1px solid color.adjust($ca-accent, $alpha: -0.5);
}

pre.astro-code {
  width: 100%;
  max-width: 90vw;
  padding: 2vw !important;
  margin: 2rem 0 !important;
  overflow-x: scroll;
  background-color: color.adjust($ca-accent, $lightness: -45%) !important;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 7px color.adjust($ca-main-3, $alpha: -0.5);

  // code {
  // }
}

.main-footer {
  display: flex;
  justify-content: center;
  padding: 5rem;
}
