---
import { Document, Body } from 'astro-base-document';
import { SEOMetadata } from 'astro-seo-metadata';
import { GoogleAnalytics } from 'astro-google-analytics';
import { HoverPrefetch } from 'astro-hover-prefetch';
import { Tooltips } from 'astro-tooltips';
/* ·········································································· */
import NavigationBar from '../app/NavigationBar.astro';
import LazyLoading from '../app/LazyLoading.astro';
import Footer from '../app/Footer.astro';
/* ·········································································· */
import './Default.scss';
/* ·········································································· */

const pageClass = `page-${Astro.url.pathname
  .substring(1)
  .replaceAll('/', '_')}`;
---

<Document class:list={[pageClass, 'astro-content-docs', 'layout-default']}>
  <Fragment slot="head">
    <SEOMetadata
      image={`https://res.cloudinary.com/dzfylx93l/image/upload/w_1200,h_630,c_limit/poster-2_xynb4h.png`}
      title={'Astro Content — Documentation & Demo — Structured content integration for Astro Web Framework'}
      description={'A text based, structured content manager, for edition and consumption — Comes as an AstroJS integration'}
      siteName={'Astro Content — Structured content framework'}
      author="Julian Cataldo"
      copyright="ISC"
      favicon="/favicon.svg"
    />

    <GoogleAnalytics id={'G-ZNVP52N2SF'} />

    {import.meta.env.PROD && <HoverPrefetch />}

    <Tooltips />

    <LazyLoading />
  </Fragment>

  <Body slot="body">
    <NavigationBar />
    <slot />
    <Footer />
  </Body>
</Document>
