/* stylelint-disable selector-class-pattern */
.component-app {
  main {
    position: relative;
    height: calc(100vh - 4rem) !important;
  }

  .editor {
    height: 100%;
  }

  .file-entity {
    width: 100%;
    height: calc(100% - 0rem);
  }

  .monaco-editor {
    height: 100%;
  }

  // TODO: Set min and max sizes for all panes
  .component-tree {
    // min-width: 200px;
    // width: 260px;
    // max-width: 800px;
  }

  .split-h {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  .split-v {
    height: 100%;
  }

  .gutter {
    --color: var(--vscode-inputOption-activeBackground);
    background-repeat: no-repeat;
    background-position: 50%;
    opacity: 0.15;
    transition: opacity 0.4s, background-color 0.4s ease;

    &:hover {
      background-color: var(--color);
      opacity: 1;
      transition: opacity 0.11s, background-color 0.11s;
      transition-delay: 0.08s;
    }
  }

  .gutter.gutter-horizontal {
    cursor: col-resize;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  }

  .gutter.gutter-vertical {
    cursor: row-resize;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
  }
}
