@use 'sass:color' as color;

.component-assistant {
  // width: calc(100% - 0.1rem);
  width: 100%;
  height: 100%;
  height: calc(100% - 3rem);

  img {
    max-width: 100%;
  }

  // NOTE: In-document rendering is disabled.
  // .markdown,
  .meta {
    height: 100%;
    padding: 0.5rem 2rem 2rem 2rem;
    overflow-y: auto;
  }

  .markdown {
    // width: 100%;

    iframe {
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
    }
  }

  & > * {
    height: 100%;
  }
  // .panes {
  // }
}
