.component-entries-table {
  height: calc(100%);

  html {
    font-family: sans-serif;
    font-size: 14px;
  }

  table {
    width: 100%;
    border: 1px solid lightgray;
  }

  tbody {
    border-bottom: 1px solid lightgray;
  }

  th {
    padding: 2px 4px;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
  }

  tfoot {
    color: gray;
  }

  tfoot th {
    font-weight: normal;
  }
}
