.component-tab-bar {
  display: flex;
  overflow-x: auto;
  user-select: none;
  background-color: var(--vscode-quickInput-background);
  isolation: isolate;
  border-bottom: 1px solid hsla(0, 0%, 6%, 0.7);
  box-shadow: 0 0.07rem 0.15rem hsla(0, 0%, 5%, 0.1),
    0 0.15rem 0.5rem hsla(0, 0%, 0%, 0.15);

  & > * {
    padding: 0.75rem 1.25rem;
    margin: 0rem 0rem;
    color: var(--vscode-quickInput-foreground);
    cursor: pointer;
    border-top: 2px solid transparent;

    &:hover {
      background-color: var(--vscode-toolbar-hoverBackground);
    }
  }

  .active {
    color: var(--vscode-list-activeSelectionForeground);
    background-color: var(--vscode-menu-background);
    border-top: 2px solid var(--vscode-input-placeholderForeground);
  }

  .tab {
    display: flex;
    align-items: center;

    svg {
      margin-right: 0.5em;
    }
  }
}
