.component-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  overflow-x: auto;
  background-color: var(--vscode-menu-background);
  outline: 1px solid var(--vscode-scrollbar-shadow);
  box-shadow: 0 0.15rem 0.15rem var(--vscode-widget-shadow);

  .actions {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.file {
      display: flex;
      flex-grow: 1;
      justify-content: flex-start;
    }

    & .action {
      font-weight: 700;

      .label {
        @media screen and (max-width: 1200px) {
          display: none;
        }
      }
    }
  }

  .component-popover {
    h3,
    h4 {
      cursor: default;
    }
  }

  .breadcrumb {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.5rem;

    .chevron-property {
      &.md {
        // span {
        //   border-bottom: 1px solid
        //     var(--vscode-editorSuggestWidget-selectedBackground);
        // }

        svg {
          color: var(--vscode-charts-purple);
        }
      }

      &.yaml {
        // span {
        //   border-bottom: 1px solid
        //     var(--vscode-editorMarkerNavigationWarning-background);
        // }
        svg {
          color: var(--vscode-charts-green);
        }
      }
    }

    & > * {
      display: flex;
      align-items: center;
      padding: 1rem;

      svg {
        margin-right: 1.5em;
        opacity: 0.6;
      }

      font-weight: 700;
    }

    &:hover {
      svg {
        opacity: 1;
      }
    }
  }

  .infos-tooltip {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: flex-end;

    .table {
      // width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 1rem;
    }
  }
}
