---
import { get } from '/content';
// import { collect } from 'astro-content';
// import Gui from 'astro-content/node_modules/@astro-content/gui/app.astro';
/* ·········································································· */
import Layout from '../layouts/Default.astro';
import Landing from '../modules/Landing.astro';
import Demo from '../modules/Demo.astro';
/* —————————————————————————————————————————————————————————————————————————— */

/* Docs content */
// TODO: Find a nice and bug-free way to merge `docs` and `demo` content bases
// const content =
// await get(
//   Astro.glob(
//     '/Volumes/n_1024a-Projects/Repositories/apps/content-maestro/demo/content/**/*.{md,mdx,yaml}',
//   ),
//   { editMode: import.meta.env.PROD },
// );

/* Demo content */
const content = await get(
  Astro.glob('/content/**/*.{md,mdx,yaml}'),
  // NOTE: this will force trigger `__content` data fetching,
  // for demo purposes only, for this docs.
  // Might be better to ensure `__content` doesn't get overwritten during build.
  {
    editMode: import.meta.env.PROD,
  },
);

const demos = content.demos;
const landing = content.modules.landing;
---

<Layout>
  <Landing data={landing} />

  <!-- <Demo data={demos.typescriptCompletion} /> -->

  <!-- <Demo data={demos.typescriptCompletion} /> -->

  <!-- <Demo data={demos.typescriptCompletion} /> -->

  <hr />

  <footer class="main-footer">
    <div>
      Made by <a class="link" href="https://www.juliancataldo.com">
        JulianCataldo
      </a>
    </div>
  </footer>
  <!-- IDEA: Embedded demo GUI preview (for docs) -->
</Layout>
