---
import 'asciinema-player/dist/bundle/asciinema-player.css';

const { url } = Astro.props;
---

<div data-ascii-url={url}></div>

<script>
  // FIXME: Typings for asciinema-player
  // TODO: Implement auto-play with intersection observer
  import * as AsciinemaPlayer from 'asciinema-player';

  const containerElements = document.querySelectorAll('[data-ascii-url]');

  const options = {
    root: null,
    rootMargin: '400px 0px',
  };

  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.ascii.play();
      } else {
        entry.target.ascii.pause();
      }
    });
  }, options);

  containerElements.forEach((elem) => {
    observer.observe(elem);

    const url = elem.getAttribute('data-ascii-url');

    // FIXME: Extend vanilla element
    elem.ascii = AsciinemaPlayer.create(url, elem, {
      loop: true,
      // autoplay:true,
    });
  });
</script>
