@use 'sass:color';
@use '../vars' as *;

.app-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 10rem 5rem 2rem 2rem;
  font-family: $font-fancy;
  font-style: italic;

  .separator {
    width: 30vw;
    margin-right: 2vw;
    opacity: 0.8;
  }

  .star-me {
    align-self: flex-start;

    svg {
      height: 0.7em;
    }

    font-size: 1.5em;
  }

  .btt {
    a {
      display: block;
      padding: 1rem;
    }
  }

  .built-with {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;

    & > * {
      display: flex;
      align-items: center;
    }

    a {
      padding: 0 1rem;
    }

    margin-left: auto;
    text-align: right;
  }
}
