---
import { Link } from 'astro-link';
import guiOverlay from '../assets/separator.svg?raw';
// import github from '../assets/github.svg?raw';
import './Footer.scss';
---

<footer class="app-footer">
  <div>
    Maintained by <Link class="link" href="https://www.juliancataldo.com">
      Julian Cataldo
    </Link>
  </div>

  <div class="separator" set:html={guiOverlay}></div>
  <div class="star-me">
    Star me on
    <!-- &nbsp;<span class="icon" set:html={github}></span> -->
    <Link class="link" href="https://github.com/JulianCataldo/astro-content">
      GitHub…
    </Link>
  </div>

  <Link class="link" href="licenses">Licenses</Link>

  <div class="built-with">
    <a href="https://astro.build">
      <img
        src="https://astro.badg.es/v1/built-with-astro.svg"
        alt="Built with Astro"
        width="150"
        height="27.5"
      />
    </a>
    <div>— {Astro.generator.split(' ')[1]} —</div>
  </div>

  <div class="btt"><Link href="#">Back to <strong>TOP</strong> ⬆︎</Link></div>
</footer>
