@use 'sass:color' as color;

// @import './themes/dracula';
// @import './themes/cobalt2';
@import './themes/vs-dark';
@import './scrollbars';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--vscode-foreground);
  background-color: var(--vscode-editor-background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--vscode-foreground);
  text-decoration: none;
}

/* stylelint-disable-next-line selector-class-pattern */
.component-tooltip,
.component-popover {
  // transition-duration: 0s !important;
  & > * {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-top: 0;
    }
  }

  z-index: 999;
  display: block;
  // min-width: 19rem;
  padding: 1rem;
  color: var(--vscode-badge-foreground);
  white-space: pre;
  background-color: var(--vscode-menu-background);
  border: 1px solid var(--vscode-editorWidget-border);
  border-radius: 0.15rem;
  box-shadow: 0.08rem 0.08rem 0.2rem var(--vscode-textBlockQuote-background),
    0.1rem 0.1rem 0.5rem var(--vscode-widget-shadow);
}

/* stylelint-disable-next-line selector-class-pattern */
.component-tooltip {
  padding: 1rem 1rem;
}

.action {
  display: inline-flex;
  align-items: center;
  padding: 1rem;
  font-variant: small-caps;
  cursor: pointer;
  user-select: none;

  svg {
    margin-right: 0.5em;
  }

  &:hover {
    color: var(--vscode-button-foreground);
  }
}

input[type='text'],
input[type='search'] {
  all: unset;
  padding: 0.7rem;
  border-bottom: 1px solid var(--vscode-diffEditor-diagonalFill);
  transition: background-color 0.15s;

  &:hover {
    background-color: var(--vscode-diffEditor-diagonalFill);
  }
}

hr {
  margin: 1em 0.25em;
  border-color: var(--vscode-diffEditor-diagonalFill);
}
/* ————————————————————————————————————————— Checkbox 1 ————————————————————— */

input[type='checkbox'] {
  all: unset;
  display: inline-block;
  width: 0.7em;
  height: 0.7em;
  margin: 0 0.5em;
  margin-bottom: -0.14em;
  border: 0.15em solid var(--vscode-diffEditor-diagonalFill);
  border-radius: 0.15em;

  &:checked {
    background: var(--vscode-input-foreground);
    border: 0.15em solid var(--vscode-diffEditor-insertedTextBackground);
    box-shadow: 0px 0px 0.15em var(--vscode-diffEditor-diagonalFill);
  }
}

.astro-code {
  padding: 1rem;
}

.message-no-database {
  padding: 1.5rem;
}

.message-please-select-file {
  padding: 1rem;
}
