.component-tree {
  height: 100%;
  padding-bottom: 3rem;
  overflow-y: auto;
  font-size: 85%;

  input[type='search'] {
    width: calc(100% - 2rem);
    font-size: 1rem;
  }

  .route {
    display: block;
    cursor: pointer;
  }

  .entry-link {
    cursor: default;
  }

  .trigger {
    display: inline-flex;
    align-items: center;
    min-width: 1em;
    height: 2rem;
    padding: 0 0.5rem;
    text-align: center;
  }

  .trigger:hover {
    color: var(--vscode-inputOption-activeForeground);
  }

  .leaf {
    .file-infos {
      opacity: 0;
      transition: opacity 0.14s;

      &:hover {
        background: var(--vscode-badge-background);
      }
    }

    .file-title {
      .component-tooltip {
        * {
          max-width: 100%;
        }

        min-width: 27rem;
        max-width: 48rem;
        max-height: 80vh;
        overflow: hidden;
        white-space: initial;
      }

      .tree-label {
        display: flex;
        align-items: center;
        height: 2rem;
        padding: 0 0.5rem;
      }

      .trigger {
        opacity: 0.2;
      }
    }

    &:hover {
      .file-infos {
        opacity: 1;
      }

      .file-title {
        .trigger {
          opacity: 1;
        }
      }
    }

    .route {
      display: flex;
      // padding: 0.3em;
    }

    &.entity {
      & > .route {
        align-items: center;
        justify-content: flex-start;
        font-weight: bold;
      }
    }

    .folder {
      display: flex;
      align-items: center;
      padding-right: 0.1em;
      padding-left: 0.67em;
    }

    svg {
      margin-top: 0.125em;
    }

    .spacer {
      flex-grow: 1;
    }

    .tree-label {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .property-link {
      &.active {
        background: var(--vscode-list-dropBackground);
      }
    }

    .entry-link {
      margin-top: 0.3rem;
      margin-bottom: 0.3rem;

      .tree-label {
        padding: 0.4rem 0.3rem;
      }

      &.active {
        background: var(--vscode-tree-tableColumnsBorder);
      }

      font-size: 115%;
      background: var(--vscode-keybindingLabel-border);
    }

    .entity-link {
      position: sticky;
      top: 0;
      z-index: 5;
      margin-top: 0.5rem;
      background: hsl(0, 0%, 9%);

      .tree-label {
        padding: 0.4rem 0.3rem;
      }
    }

    .property {
      flex-direction: column;
      justify-content: center;
    }

    .route:hover {
      color: var(--vscode-inputOption-activeForeground);
      background: var(--vscode-input-background);
    }

    .entry,
    .property {
      border-left: 1px solid var(--vscode-input-background);
    }

    .errors {
      display: flex;
      height: 100%;
      font-size: 80%;
      user-select: none;

      .error {
        display: inline-flex;
        align-items: center;
        height: 100%;
        padding: 0.25rem 0.01rem 0.3rem 0.01rem;

        span {
          padding: 0.3rem 0.3rem;
          border-radius: 0.5rem;
        }

        &:hover {
          span {
            background: var(--vscode-editorSuggestWidget-background);
          }
        }
      }

      .component-tooltip {
        font-size: 120%;
      }

      .errors-schema {
        strong {
          color: var(--vscode-inputValidation-errorBorder);
        }
      }

      .errors-lint {
        strong {
          color: var(--vscode-inputValidation-warningBorder);
        }
      }

      .errors-prose {
        strong {
          color: var(--vscode-inputValidation-infoBorder);
        }
      }
    }

    padding-top: 0em;
    padding-bottom: 0em;
    margin-top: 0;
    margin-bottom: 0;
  }

  .file-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: 0.5em;
  }

  .icon-md,
  .icon-yaml {
    padding-right: 0.2em;
    padding-left: 0.4em;
  }

  .icon-md {
    color: var(--vscode-charts-purple);
    opacity: 0.9;
  }

  .icon-yaml {
    color: var(--vscode-charts-green);
  }
}
