---
import Link from '@julian_cataldo/astro-link/Link.astro';
import { Icon } from '@iconify/react';
import './Landing.scss';

const { data } = Astro.props; // as { data: Demo };
---

<div class="module-landing">
  <div class="hero">
    <article class="hero-body article-body">
      <data.text.Content />
    </article>

    <div class="try">
      <div class="cta">
        <div class="editor-preview">
          <img
            src="/demos/landing-2-small.png"
            height="100%"
            width="100%"
            alt=""
          />
          <!-- <div class="video">
            <video muted="muted" autoplay controls>
              <source src="/public/demos/main-demo.mp4" type="video/mp4" />
              Your browser does not support the video tag.
            </video>
          </div> -->
          <a href="/__content" target="_blank">
            <div class="button main">
              <Icon icon="system-uicons:create" client:load />
              <span>Live <strong>demo</strong>&nbsp;&nbsp;🧱</span>
            </div>
          </a>
          <div class="sub-desc">
            <strong>Pre-loaded</strong> with data - <strong>read-only</strong>
            editor
          </div>
        </div>
      </div>

      <div class="install article-body">
        <data.install.Content />
      </div>
    </div>
  </div>

  <Icon
    height="5rem"
    icon="system-uicons:chevron-down"
    client:load
    className="divider"
  />

  <article class="footnotes">
    <Link
      class="button"
      href="https://github.com/JulianCataldo/astro-content"
      title="GitHub repository"
      data-tooltip-placement="top"
    >
      <Icon icon="simple-icons:github" client:load />
      <span>Open Source</span>
    </Link>
    <div class="related">
      <data.relations.Content />
    </div>
  </article>
</div>
