@use 'sass:color';

.module-landing {
  .hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    // min-height: 44rem;
    padding: 3vw 3vw 2vw 3vw;
    margin-bottom: 0rem;

    .button {
      margin-top: 2.5rem;
      font-size: 2em;
    }

    .sub-desc {
      padding: 1rem;
      color: $ca-white;
    }

    .article-body {
      & > * {
        margin: 1.5em 0;
      }
    }
  }

  .divider {
    width: 100%;
  }

  .footnotes {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    padding: 6vh 2vw;
    margin-bottom: 6rem;

    .button {
      display: inline-flex;
      margin: 2rem 2.5rem 4rem 1.5rem;
      margin-bottom: 4rem;
      font-size: 1.3rem;
      background: color.adjust($ca-black, $alpha: -0.1);
    }

    .related {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 2rem 1vw;
      }
    }

    h1 {
      margin: 0 0 1em 1.5vw;
    }

    ul {
      margin: 0;
    }
  }

  .hero-body {
    flex-grow: 1;
    // min-width: 17em;
    max-width: calc(29em + 7vw);
    padding: 0 5vw 0 2vw;

    header {
      margin: 0rem 3rem 3rem 0rem;
    }
  }

  .install {
    padding: 3vw 0;

    & > * {
      padding: 0 2rem;
    }
  }

  .try {
    height: 100%;
  }

  .cta {
    position: relative;
    z-index: 0;
  }

  .editor-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: calc(17em + 38vw);
    padding: 0 0vw;
    padding-top: 2rem;
  }

  // img {
  //   width: 100%;
  // }
  .video {
    display: block;
    min-width: 50vw;
    margin: 2rem 0;

    video {
      width: 100%;
    }
  }

  .overlay {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    .sub-desc {
      padding: 1rem;
      color: $ca-white;
      background: $ca-black;
    }

    .link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }
  }
}
