---
const props = Astro.props;
---

<div class="tile-gallery">
  <slot />
</div>

<style lang="scss">
  .tile-gallery {
    --unit: calc(64px + 5px);

    display: grid;
    grid-template-columns: repeat(auto-fill, var(--unit));
    grid-auto-rows: var(--unit);
    grid-auto-flow: dense;
  }
</style>
